.App {
  text-align: center;
  background-image: url("https://www.wallpaperboulevard.com/Images/product/brown-scroll-texture-wallpaper-cdtl-l.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100vh;
}
.photo {
  height: 40vmin;
  pointer-events: none;
  width : 200px; height : 200px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
